/***************** VARIABLES ******************/

:root {
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan-graphic-design-text: hsl(167, 40%, 24%);
    --dark-blue-photography-text: hsl(198, 62%, 26%);
    --dark-moderate-cyan-footer: hsl(168, 34%, 41%);
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
}

/***************** GLOBALS ******************/

html {
    height: 100%;
    font-size: 100%;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Fraunces", serif;
    font-size: 1.125rem;
    min-height: 100%;
    line-height: 1.3;
    max-width: 100%;
    overflow-x: hidden;
}

/***************** MOBILE ******************/

@media only screen and (min-width: 3.125em) and (max-width: 77.0625em) {
    /***************** HEADER ******************/

    .header-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 11.625rem);
    }

    .hero-image {
        background-image: url("images/mobile/image-header.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        grid-column: 1 / 3;
        grid-row: 1 / 4;
    }

    .logo {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        padding: 2.3125rem 0 0 1.5625rem;
    }

    .arrow {
        grid-column: 1 / 3;
        grid-row: 2 / 4;
        justify-self: center;
        align-self: center;
        margin-bottom: 0.625rem;
    }

    .heading {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        justify-self: center;
        align-self: center;
        color: var(--white);
        font-size: 11vw;
        letter-spacing: 0.5rem;
        text-align: center;
        margin-top: 1.875rem;
    }

    .navbar {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-self: end;
        padding: 2.3125rem 1.5625rem 0 0;
    }

    /***************** HEADER MOBILE MENU ******************/

    .desktop-menu {
        display: none;
    }

    .bar {
        display: block;
        width: 1.5625rem;
        height: 0.125rem;
        background-color: var(--white);
        transition: 0.3s ease;
    }

    .bar:not(.last) {
        margin-bottom: 0.375rem;
    }

    .mobile-menu {
        cursor: pointer;
    }

    .change .bar {
        background-color: var(--black);
    }

    .change .bar-1 {
        transform: translateY(0.5rem) rotateZ(-45deg);
    }

    .change .bar-3 {
        transform: translateY(-0.5rem) rotateZ(45deg);
    }

    .change .bar-2 {
        opacity: 0;
    }

    .change {
        display: block;
    }

    .mobile-drop-menu {
        background: var(--white);
        position: absolute;
        top: 5.9375rem;
        width: calc(100% - 3.2rem);
        padding: 1.625rem;
        margin: 1.625rem;
        visibility: hidden;
    }

    .change {
        visibility: visible;
    }

    .link-drop-menu {
        font-family: "Barlow", sans-serif;
        color: var(--dark-grayish-blue);
        font-size: 1.25rem;
        padding: 1.25rem;
        display: block;
        text-align: center;
        text-decoration: none;
    }

    .cta-drop-menu {
        display: block;
        margin: 1.25rem auto;
        width: 8.125rem;
        height: 3.4375rem;
        background-color: var(--yellow);
        border-radius: 1.875rem;
        border: transparent;
        font-family: "Fraunces", serif;
        font-size: 1rem;
        cursor: pointer;
    }

    /***************** MAIN ******************/

    /***************** SECTION HERO ******************/

    .section-hero-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 21.875rem 32.5rem 21.875rem 32.5rem 40.625rem 40.625rem;
        justify-content: center;
        width: 100%;
    }

    .transform-image {
        background-image: url("images/mobile/image-transform.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .transform-copy {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        width: 100%;
    }

    .stand-out-image {
        background-image: url("images/mobile/image-stand-out.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .stand-out-copy {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        width: 100%;
    }

    .graphic-design-image {
        background-image: url("images/mobile/image-graphic-design.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }

    .graphic-design-copy {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        width: 100%;
    }

    .photography-image {
        background-image: url("images/mobile/image-photography.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }

    .photography-copy {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
        width: 100%;
    }

    .hero-heading {
        font-size: 9vw;
        font-weight: 800;
        text-align: center;
        padding: 4.9375rem 3.125rem 2.5rem 3.125rem;
    }

    .copy-1-2 {
        font-family: "Barlow", sans-serif;
        color: var(--dark-grayish-blue);
        text-align: center;
        padding: 0 2.125rem 2.625rem 2.125rem;
        line-height: 1.6;
        font-size: 5.1vw;
    }

    .learn-more {
        display: block;
        color: var(--black);
        text-decoration: none;
        text-align: center;
        font-size: 1.1875rem;
        font-weight: 800;
        line-height: 0.8;
        margin: 0 8.125rem 4.0625rem 8.125rem;
        border-bottom: 0.4375rem solid var(--yellow);
        cursor: pointer;
    }

    .red {
        border-bottom: 0.4375rem solid var(--soft-red);
    }

    .graphic-design-heading {
        color: var(--dark-desaturated-cyan-graphic-design-text);
        font-size: 8vw;
        padding: 25rem 3.75rem 2.5rem 3.125rem;
    }

    .photography-heading {
        color: var(--dark-blue-photography-text);
        font-size: 8vw;
        padding: 25rem 3.75rem 2.5rem 3.125rem;
    }

    .copy-3-4 {
        font-family: "Barlow", sans-serif;
        color: var(--dark-desaturated-cyan-graphic-design-text);
        text-align: center;
        line-height: 1.6;
        font-size: 4.3vw;
        padding: 0 2.125rem 2.625rem 2.125rem;
    }

    /***************** SECTION TESTIMONIALS ******************/

    .section-testimonials-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .testimonials-heading {
        color: var(--grayish-blue);
        font-size: 4.5vw;
        letter-spacing: 0.1875rem;
        margin: 4.1875rem 3.25rem 4.0625rem 3.25rem;
        text-align: center;
    }

    .testimonial-article {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .testimonials-image {
        display: block;
        width: auto;
        height: auto;
        max-width: 14.375rem;
        max-height: 5.9375rem;
        text-align: center;
        border-radius: 50%;
        margin-bottom: 2.75rem;
    }

    .testimonials-image:not(.first) {
        margin-top: 4.0625rem;
    }

    blockquote {
        font-family: "Barlow", sans-serif;
        color: var(--very-dark-grayish-blue);
        text-align: center;
        line-height: 1.8;
        font-size: 4.8vw;
        margin: 0 2.3125rem 2.75rem 2.3125rem;
    }

    .testimonial-name {
        font-family: "Fraunces", serif;
        font-weight: 800;
        margin-bottom: 1.0625rem;
    }

    .testimonial-occupation {
        font-family: "Barlow", sans-serif;
        color: var(--grayish-blue);
        font-size: 1.0625rem;
    }

    .last-occupation {
        margin-bottom: 5.625rem;
    }

    /***************** SECTION IMAGES ******************/

    .section-images-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100%;
    }

    .milkbottles {
        background-image: url("images/mobile/image-gallery-milkbottles.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 13.4375rem;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .orange {
        background-image: url("images/mobile/image-gallery-orange.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 13.4375rem;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .cone {
        background-image: url("images/mobile/image-gallery-cone.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 13.4375rem;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .sugar-cubes {
        background-image: url("images/mobile/image-gallery-sugar-cubes.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 13.4375rem;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    /***************** FOOTER ******************/

    .footer-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background-color: var(--dark-moderate-cyan-footer);
    }

    .logo-footer {
        margin: 4.375rem 0 3.125rem 0;
        width: 11.25rem;
    }

    .links-footer {
        font-family: "Barlow", sans-serif;
        color: var(--dark-desaturated-cyan-graphic-design-text);
        font-size: 5vw;
        text-decoration: none;
        margin-bottom: 5.625rem;
    }

    a.links-footer:hover {
        color: var(--white);
    }

    .services {
        margin: 0 3.5625rem;
    }

    .social-images {
        margin: 5.5625rem 0 4.875rem 0;
        cursor: pointer;
    }

    .social-images:not(.social-last) {
        margin-right: 1.625rem;
    }
}

/***************** TABLET ******************/

@media only screen and (min-width: 32.6875em) {
    /***************** HEADER ******************/

    .hero-image {
        background-position: 30% 70%;
    }

    .heading {
        font-size: 3.125rem;
    }

    /***************** MAIN ******************/

    /***************** SECTION HERO ******************/

    .transform-image {
        height: 30.625rem;
    }

    .stand-out-image {
        height: 30.625rem;
    }

    .graphic-design-image {
        height: 40.625rem;
        background-position: 10% 38%;
    }

    .photography-image {
        height: 40.625rem;
    }

    .hero-heading-1 {
        font-size: 2.1875rem;
        margin-top: 8.75rem;
    }

    .hero-heading-2 {
        font-size: 2.1875rem;
        margin-top: 8.75rem;
    }

    .copy-1-2 {
        font-size: 1.0625rem;
        max-width: 50rem;
        margin: auto;
    }

    .graphic-design-heading {
        font-size: 1.5625rem;
    }

    .photography-heading {
        font-size: 1.5625rem;
    }

    .copy-3-4 {
        font-size: 1.5625rem;
        max-width: 50rem;
        margin: auto;
    }

    .learn-more {
        max-width: 9.375rem;
        margin: auto;
    }

    /***************** SECTION TESTIMONIALS ******************/

    .testimonials-heading {
        font-size: 1.125rem;
    }

    blockquote {
        font-size: 1rem;
        margin: 0 12.5rem 3.125rem 12.5rem;
        min-width: 21.875rem;
    }

    .testimonial-name {
        font-size: 1rem;
    }

    .testimonial-occupation {
        font-size: 0.8125rem;
    }

    /***************** FOOTER ******************/

    .logo-footer {
        width: 6.875rem;
    }

    a.links-footer {
        font-size: 1.25rem;
    }

    .social-images {
        cursor: pointer;
    }
}

/***************** DESKTOP ******************/
@media only screen and (min-width: 77.125em) {
    /***************** HEADER ******************/

    .header-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 16.625rem);
    }

    .hero-image {
        background-image: url("images/desktop/image-header.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        grid-row: 1 / 4;
        grid-column: 1 / 3;
    }

    .logo {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        padding: 2.3125rem 0 0 1.5625rem;
    }

    .arrow {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        justify-self: center;
        margin-bottom: 31.25rem;
        margin-top: 5.625rem;
    }

    .heading {
        color: var(--white);
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        justify-self: center;
        font-size: 2.75rem;
        letter-spacing: 0.5rem;
        text-align: center;
        margin-top: 11.875rem;
        margin-bottom: 21.875rem;
    }

    .navbar {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        justify-self: end;
        padding: 2.5rem 2.1875rem 0 0;
    }

    .cta-desktop:hover {
        background-color: #17d4fc;
    }

    /***************** HEADER DESKTOP MENU ******************/

    .mobile-menu {
        display: none;
    }

    .mobile-drop-menu {
        display: none;
    }

    a,
    a:visited,
    a:hover {
        text-decoration: none;
        color: var(--white);
        padding-right: 3.125rem;
    }

    .desktop-menu {
        font-family: "Barlow", sans-serif;
        font-size: 0.875rem;
        display: inline-block;
    }

    .cta-desktop {
        width: 6.875rem;
        height: 2.8125rem;
        background-color: var(--white);
        border-radius: 1.875rem;
        border: transparent;
        font-family: "Fraunces", serif;
        font-size: 0.75rem;
        cursor: pointer;
    }

    /***************** MAIN ******************/

    /***************** SECTION HERO ******************/

    .section-hero-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 100%;
    }

    .transform-image {
        background-image: url("images/desktop/image-transform.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 37.8125rem;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .transform-copy {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 100%;
        height: 37.8125rem;
    }

    .stand-out-image {
        background-image: url("images/desktop/image-stand-out.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 37.8125rem;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .stand-out-copy {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        width: 100%;
        height: 37.8125rem;
    }

    .graphic-design-image {
        background-image: url("images/desktop/image-graphic-design.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 37.8125rem;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .graphic-design-copy {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        width: 100%;
        height: 37.8125rem;
    }

    .photography-image {
        background-image: url("images/desktop/image-photography.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 37.8125rem;
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    .photography-copy {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        width: 100%;
        height: 37.8125rem;
    }

    .hero-heading-1 {
        font-size: 2.1875rem;
        text-align: left;
        margin: 10.625rem 13.875rem 2.8125rem 10.5rem;
    }

    .copy-1-2 {
        font-family: "Barlow", sans-serif;
        color: var(--dark-grayish-blue);
        text-align: left;
        line-height: 1.6;
        font-size: 1.0625rem;
        margin: 0 7.3125rem 3.125rem 10.5rem;
    }

    a.learn-more {
        color: var(--black);
        margin: 0 0 0 10.5rem;
        font-size: 0.9375rem;
        border-bottom: 0.4375rem solid var(--yellow);
        padding-right: 0;
    }

    a.red {
        border-bottom: 0.4375rem solid var(--soft-red);
    }

    .hero-heading-2 {
        font-size: 2.1875rem;
        text-align: left;
        margin: 10.625rem 13.875rem 2.8125rem 10.5rem;
    }

    .graphic-design-heading {
        color: var(--dark-desaturated-cyan-graphic-design-text);
        font-size: 1.5625rem;
        padding: 25rem 3.75rem 2.5rem 3.125rem;
        text-align: center;
        font-weight: 900;
    }

    .photography-heading {
        color: var(--dark-blue-photography-text);
        font-size: 1.5625rem;
        padding: 25rem 3.75rem 2.5rem 3.125rem;
        text-align: center;
        font-weight: 900;
    }

    .copy-3-4 {
        font-family: "Barlow", sans-serif;
        color: var(--dark-desaturated-cyan-graphic-design-text);
        text-align: center;
        line-height: 1.6;
        font-size: 0.9375rem;
        padding: 0 12.5rem;
    }

    /***************** SECTION TESTIMONIALS ******************/

    .section-testimonials-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 15rem 32.5rem;
    }

    .testimonials-heading {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        color: var(--grayish-blue);
        font-size: 1.125rem;
        text-align: center;
        letter-spacing: 0.25rem;
        margin: 9.375rem 0 5.125rem 0;
    }

    .testimonial-1 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        text-align: center;
    }

    .testimonial-2 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        text-align: center;
    }

    .testimonial-3 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        text-align: center;
    }

    .testimonials-image {
        width: auto;
        height: auto;
        max-width: 13.4375rem;
        max-height: 5rem;
        border-radius: 50%;
        margin-bottom: 4.0625rem;
    }

    blockquote {
        min-width: unset;
        font-size: 1rem;
        font-family: "Barlow", sans-serif;
        color: var(--very-dark-grayish-blue);
        line-height: 1.8;
        margin: 0 6.25rem 5rem 6.25rem;
    }

    .testimonial-name {
        font-size: 1rem;
        font-weight: 900;
        margin-bottom: 0.5625rem;
    }

    .testimonial-occupation {
        font-family: "Barlow", sans-serif;
        color: var(--grayish-blue);
        font-size: 0.8125rem;
    }

    /***************** SECTION IMAGES ******************/

    .section-images-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        width: 100%;
    }

    .milkbottles {
        background-image: url("images/desktop/image-gallery-milkbottles.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 27.6875rem;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .orange {
        background-image: url("images/desktop/image-gallery-orange.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 27.6875rem;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .cone {
        background-image: url("images/desktop/image-gallery-cone.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 27.6875rem;
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .sugar-cubes {
        background-image: url("images/desktop/image-gallery-sugarcubes.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 27.6875rem;
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }

    /***************** FOOTER ******************/

    .footer-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background-color: var(--dark-moderate-cyan-footer);
    }

    .logo-footer {
        margin: 4.6875rem 0 2.5rem 0;
        width: 9.375rem;
    }

    a.links-footer {
        font-family: "Barlow", sans-serif;
        color: var(--dark-desaturated-cyan-graphic-design-text);
        font-size: 1.25rem;
        text-decoration: none;
        margin-bottom: 5.625rem;
        padding-right: 0;
    }

    a.links-footer:hover {
        color: var(--white);
    }

    .services {
        margin: 0 3.5625rem;
        padding: 0;
    }

    .social-images {
        margin: 5.5625rem 0 4.875rem 0;
        cursor: pointer;
    }

    .social-images:not(.social-last) {
        margin-right: 1.625rem;
    }
}
